<h1>
      Split Pane Revision 0
    </h1>
 <div style="height:400px; width:100%px; border:1px solid #555">
      <div style="height: 100%;">
              <vertical-split-pane primary-component-minsize="20" secondary-component-minsize="80" primary-component-initialratio="0.2">
                <div class="split-pane-content-primary">
                  <div class="left">
                    Left
                  </div>
                </div>
                <div class="split-pane-content-secondary">
                  
       <div style="height:400px; width:100%;">
      <div style="height: 100%;">
        <horizontal-split-pane #box1 primary-component-minsize="50" secondary-component-minsize="50" local-storage-key="split-pane">
          <div class="split-pane-content-primary">
            <div class="upper">
              Upper pane
            </div>
          </div>
          <div class="split-pane-content-secondary">
            <div class="lower">
            </div>
          </div>
        </horizontal-split-pane>
      </div>
    </div>
                </div>
              </vertical-split-pane>
      </div>
    </div>